<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New person Form</title>
</head>
<body>
    <form action="#" method="post" th:action="@{/AddSquare}" th:object="${square}">
        <input type="text" th:field=*{boxname} placeholder="name of box"> <br>
        <input type="number" th:field=*{height} placeholder="height"> <br>
        <input type="number" th:field=*{width} placeholder="width"> <br>
        <input type="color" th:field=*{boxcolor}> <br>
        <input type="checkbox" th:field=*{outlined}> <br>
        <input type="submit" value="Submit Square to Database">
    </form>
</body>
</html>